<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet"  href= "../static/admin.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
        </ul>
</div>
<div class="loginbox">
    <img src="../static/avatar.jpe" class="loginimage">
    <h1>Login Here</h1>
    <form id='login' action='/admin/adminLogin' method='post'>
        <p>Username</p>
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Login">
        <a href="/admin/adminregistration">Not yet signed in register here</a>
    </form>

</div>
</body>
</html>