<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet"  href= "../static/adminhomepage.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="../static/slideshow.js"></script>
    <title>Admin</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>

        <li><a href="/doctor/doctorregistration"><i class="fa fa-user-md" aria-hidden="true"></i>  REGISTER DOCTOR</a></li>
        <li><a href="/radiologist/radiologistregistration"><i class="fa fa-user-md" aria-hidden="true"></i> REGISTER RADIOLOGIST</a></li>
        <li><a href="/patient/patientregistration"><i class="fa fa-bed" aria-hidden="true"></i>  REGISTER PATIENT</a></li>
        <li ><a href="/admin/adminLogin"><i class="fa fa-home" aria-hidden="true"></i>  HOME</a></li>
    </ul>
</div>
</body>
</html>