<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet"  href= "../static/doctorcss.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
        </ul>
</div>
<div class="loginbox">
    <img src="../static/avatar.jpe" class="loginimage">
    <h1>Reset Password</h1>
    <form id='Reset Password' action='/doctor/passwordreset' method='post'>
        <p>New Password</p>
        <input type="password" name="password" id="password" placeholder="Enter New Password">
        <p>Confirm Password</p>
        <input type="password" name="password" id="password" placeholder="Enter New Password">
        <input type="submit" name="submit" value="Reset">

    </form>

</div>
</body>
</html>