<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/doctor_comments.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <meta charset="UTF-8">
    <title>Doctor comments</title>
</head>
<body>
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
    </ul>
</div>
<div class="commentbox">
    <div>
        <table>
            <tr>
                <td>Mammogram result:</td>
                <td>{{mammogram_result}}</td>
            </tr>
            <tr>
                <td>Radiologist Comments:</td>
                <td>{{radiologist_comments}}</td>
            </tr>
        </table>
    </div>
    <form id='comment' action='/doctor/DoctorComments' method='post'>
        <input id="user_id" name="user_id" type="hidden" value="{{id}}">
        <input type="hidden" id="prescription_Id" name="prescription_Id" value="{{prescription_Id}}">
        <textarea name="comments" cols="100" rows="10"></textarea>
        <br/>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>
</body>
</html>