<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/doctorregistration.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <meta charset="UTF-8">
    <title>Registration</title>

</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/admin/AdminHomepage"><i class="fa fa-home" aria-hidden="true"></i>Back</a></li>
    </ul>
</div>
<div class="loginbox">
    <img src="../static/avatar.jpe" class="loginimage">
    <h1>Register Here</h1>
    <form id='registration' action='/doctor/doctorregistration' method='post'>        
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
        <label for="dob">Date of Birth</label>
        <input type="text" name="dob" id="dob" placeholder="Enter Your Date of Birth">
        <label for="phone_number">Phone Number</label>
        <input type="text" name="phone_number" id="phone_number" placeholder="Enter Your Phone Number">
        <label for="specialization">Specialization</label>
        <input type="text" name="specialization" id="specialization" placeholder="Enter Your Specialization">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter Your Emailid">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password">

        <input type="submit" name="submit" value="Register">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> { { message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        { { message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
</body>
</html>