<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet"  href= "../static/style.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="../static/slideshow.js"></script>
    <title>HOME PAGE</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="homepage.html"><i class="fa fa-home" aria-hidden="true"></i>  HOME</a></li>
        <li><a href="/doctor"><i class="fa fa-user-md" aria-hidden="true"></i>  DOCTOR</a></li>
        <li><a href="/radiologist/RadiologistLogin"><i class="fa fa-user-md" aria-hidden="true"></i>  RADIOLOGIST</a></li>
        <li><a href="/patient"><i class="fa fa-bed" aria-hidden="true"></i>  PATIENT</a></li>
    </ul>
</div>
<h1>MAMMO HOSPITAL</h1>

<div class="slider-frame">
   <div class="slide-images">
       <div class="image-container">
           <img src="../static/example1.jpe">
       </div>
     <div class="image-container">
           <img src="../static/example2.jpe">
       </div>
       <div class="image-container">
           <img src="../static/example3.jpe">
       </div>

   </div>
</div>

</body>
</html>