<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/doctorcss.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i aria-hidden="true" class="fa fa-home"></i> HOME</a></li>
    </ul>
</div>
<div class="loginbox">
    <img class="loginimage" src="../static/avatar.jpe">
    <h1>Reset Password</h1>
    <form action='/admin/ResetPassword' id='Reset Password' method='post'>
        <input id="user_id" name="user_id" type="hidden" value="{{id}}">
        <input id="user_type" name="user_type" type="hidden" value="{{user_type}}">

        <p>Current Password</p>
        <input  name="current_password" placeholder="Enter current Password" type="password">
        <p>New Password</p>
        <input id="password" name="password" placeholder="Enter New Password" type="password">
        <p>Confirm Password</p>
        <input id="cnfpassword" name="cnfpassword" placeholder="Enter New Password" type="password">
        <input name="submit" type="submit" value="Reset">

    </form>

</div>
</body>
</html>