<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet"  href= "../static/radiologistregistration.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
        </ul>
</div>
<div class="loginbox">
    <img src="../static/avatar.jpe" class="loginimage">
    <h1>Register Here</h1>
    <form id='registration' action='/radiologist/radiologistregistration' method='post'>
        <p>Name</p>
        <input type="text" name="name" id="name" placeholder="Enter Your Name">
        <p>Date of Birth</p>
        <input type="text" name="dob" id="dob" placeholder="Enter Your Date of Birth">
        <p>Phone Number</p>
        <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Enter Your Phone Number">
        <p>Specialization</p>
        <input type="text" name="specialization" id="specialization" placeholder="Enter Your Specialization">
        <p>Email</p>
        <input type="text" name="email" id="email" placeholder="Enter Your Emailid">
        <p>Password</p>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Register">
    </form>
</div>
</body>
</html>