<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet"  href= "../static/radiologist_patient.css" />
    <link rel= "stylesheet"  href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg">
<div class="menubar">
    <ul>
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
        </ul>
</div>
<div class="loginbox">
    <img src="../static/avatar.jpe" class="loginimage">
    <h1>Enter Patient's Email Address</h1>
    <form id='patientemail' action='/radiologist/radiologist_patient' method='post'>
        <input type="text" name="email" id="email" placeholder="Enter Patient Email Address">

        <input type="submit" name="submit" value="Submit">

    </form>

</div>
</body>
</html>